################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/WebERP/.vs
/WebERP/ERP_V2/bin
/WebERP/ERP_V2/obj
/WebERP/packages
/.vs
